<section class="products">
  <div class="products__container--type-01">
    <div class="products__container--type-05">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for product in products %}
            {% comment %} <a class="product-card__link" href="/products/{{ product.id }}"> {% endcomment %}
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__card--img">
                  <img src="assets/{{ product.image }}" alt="{{ product.title }}" width="100%" height="100%">
                </div>
                <div class="products__container--type-02">
                  <div class="products__container--type-03">
                    <p class="products__text--type-01">
                      {{ product.title }}
                    </p>
                    <p class="products__text--type-01">${{ product.price }} USD</p>
                  </div>
                  <div class="products__container--type-04">
                    <button class="products__button--type-01">
                      {% render 'icons/icon-market' %}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} </a> {% endcomment %}
          {% endfor %}
        </div>
      </div>
      <div class="products__controls">
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
    <div class="products__container--type-06" id="products">
      <!-- Slides -->
      {% for product in products %}
        <a class="products__card--link" href="/products/{{ product.id }}">
          <div class="products__card">
            <div class="products__card--img">
              <img src="assets/{{ product.image }}" alt="{{ product.title }}" width="100%" height="100%">
            </div>
            <div class="products__container--type-02">
              <div class="products__container--type-03">
                <p class="products__text--type-01">
                  {{ product.title }}
                </p>
                <p class="products__text--type-01">${{ product.price }} USD</p>
                <div class="products__tags">
                  {% for i in product.tags %}
                    <p class="products__text--type-02">{{ i }}</p>
                  {% endfor %}
                </div>
              </div>
              <div class="products__container--type-04">
                <button class="products__button--type-01">
                  {% render 'icons/icon-market' %}
                </button>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="products__button--type-02">
      <button class="btn__tertiary" id="btn-view">View All</button>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const btnView = document.getElementById('btn-view');
    const products = document.getElementById('products');

    btnView.addEventListener('click', () => {
      products.classList.toggle('active');
      btnView.textContent = products.classList.contains('active') ? 'View Less' : 'View All';
    });

    const swiper = new Swiper('.swiper', {
      // And if we need scrollbar
      slidesPerView: 1.5,
      scrollbar: {
        el: '.swiper-scrollbar',
        clickable: true,
      },
    });
  });
</script>
